<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Data driven Basics">

	<listeners>
		<listener class-name="org.uncommons.reportng.HTMLReporter"/>
		<listener class-name="org.uncommons.reportng.JUnitXMLReporter"/>
		<listener class-name="listener.CustomListeners"/>	
	</listeners>
	<test name="login test">
		<classes>
			<class name="testcases.loginTest" />
		</classes>
	</test> 
	<test name="Add customer">
		<classes>
			<class name="testcases.addCustomertest" />
		</classes>
	</test>

</suite> <!-- Suite -->